.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background: #000000;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.075));

    img {
        position: absolute;
        object-fit: cover;
        z-index: 1;
        opacity: 0.4;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 142.6%;
        padding-left: 16px;
        display: flex;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 3;

        @media screen and (max-width: 680px) {
        font-size: 24px;
        }
    }
}