.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    position: relative;
    background: #000000;
    overflow: hidden;
    h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px #000;
    z-index: 2;
    }
}
.banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../assets/banner1.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}