.carrousel {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    margin-bottom: 50px;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    }

    .arrow {
        position: absolute;
        top : 50%;
        background-color: black;
        width: 40px;
        height: 40px;
        cursor: pointer;
        user-select: none;

        &.carrousel-arrow-left {
            left: 5%;
        }
        &.carrousel-arrow-right {
            right: 5%;
        }
    }

    .carrousel-index {
        color: white;
        font-size: 16px;
        z-index: 1;
        background-color: black;
    }

}