.drop {
    width: 100%;
    max-width: 1023px;
    border-radius: 5px;
    line-height: 1.4;

    .drop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        background-color: #FF6060;
        border-radius: 5px 5px 5px 5px;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        list-style: none; 
        @media screen and (max-width: 680px) {
            height: 30px;
        }

        &::-webkit-details-marker {
            display: none;
        }

        h2 {
            color: white;
            font-size: 24px;
            @media screen and (max-width: 680px) {
                font-size: 13px;
            }
        }
        
    }
    
    .drop-content {
        background-color: #F6F6F6;
        border-radius: 0 0 5px 5px;
        padding: 25px 20px 20px 20px;
        margin-top: -5px;
        position: relative;
        z-index: -1;
        animation: fadeIn 0.5s ease;

        p {
            margin: 0;
            font-size: 18px;
            @media screen and (max-width: 680px) {
                font-size: 12px;
            }
        }

        .equipment-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 18px;
                line-height: 1.42;
                padding: 2px 0;
                @media screen and (max-width: 680px) {
                    font-size: 12px;
                }
            }
        }
    }

    .arrow {
        width: 20px;
        transition: transform 0.5s ease;
        &.open {
            transform: rotate(180deg); 
            }
        
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

