.drop{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    max-width: 1023px;
    background-color: #FF6060;
    border-radius: 5px;
    h2{
        padding-left: 20px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    }
    .drop-content{
        display: none;
        list-style: none;
        position: absolute;
    }
    .arrow-up{
        cursor: pointer;
        margin-top: 12px;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        transform: rotate(-45deg)
    }

}

