.drop {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    max-width: 1023px;
    background-color: #FF6060;
    border-radius: 5px;
    list-style-type: none;
    
    h2 {
        color: white;
        font-weight: bold;
        font-size: 24px;
        margin: 0;
    }
    ul, li{
        list-style: none;
        list-style-type: none;
    }
    .drop-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: #F6F6F6;
        height: 100%;
        padding: 20px;
    }
    .arrow-up, .arrow-down{
        cursor: pointer;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        transition: transform 0.3s ease;
    }
    .arrow-up {
        margin-top: 12px;
        transform: rotate(-45deg)
    }
    .arrow-down {
        margin-top: -9px;
        transform: rotate(135deg);
    }

}