.drop-container {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media screen and (max-width: 680px) {
    padding-left: 20px;
    padding-right: 20px;   
    }

}