.drop-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 38px;
    gap: 30px;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}

