.error{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1{
        color: #FF6060;
        font-weight: bold;
        font-size: 288px;
    }
    a{
        color: black;
        font-weight: medium;
        font-size: 18px;
    }
}