footer {
    height: 209px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 66px;
        padding-bottom: 29px;

        img{
        width: 122px;
        height: 39.44px;
        color: #fff;
        }

        p {
        text-align: center;
        font-size: 24px;
            @media screen and (max-width: 680px) {
                max-width: 122px;
                font-size: 12px;
            }
        }
    }

}