footer {
    height: 209px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
        img{
        width: 122px;
        height: 39.44px;
        color: #fff;
        }
        p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        }
}