footer {
    height: 209px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
    margin-top: 50px;

        img{
        width: 122px;
        height: 39.44px;
        color: #fff;
        }
        p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
            @media screen and (max-width: 680px) {
            font-size: 12px;
            }
        }

}