header {
    display: flex;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    padding: 45px 100px 50px 100px;
    font-weight: 500;
    font-size: 24px;

    img{
        height: 68px;
        @media screen and (max-width: 680px) {
        height: 46px;
        }
        @media screen and (max-width: 320px) {
        height: 25px;
        }
    }

    nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

        .menu {
            display: flex;
            gap: 57px;

            .link {
                text-decoration: none;
                color: #000000;
            }
            .active {
                text-decoration: underline;
            }
            @media screen and      (max-width: 680px) {
                gap: 26px;
            }
            @media screen and      (max-width: 680px) {
                gap: 14px;
            }
        }
    }

    @media screen and (max-width: 680px) {
        text-transform: uppercase;
        padding: 20px 20px 27px 20px;
        font-size: 12px;
    }
    @media screen and (max-width: 320px) {
        font-size: 11px;
    }
}