header {
    display: flex;
    background-color: white;
    position: fixed;
    height : 163px; /*45 haut, 68 logo, 50 bas*/
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;

    nav {
        padding: 0 100px 0 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
            color: #000000;

            .link {
                text-decoration: none;
                color: #000000;
            }

            .link-about {
                margin-left: 57px;
            }

            .active {
                text-decoration: underline;
            }

        }
    }
}