.host{
    width: 100%;
    display: flex;
    flex: 2 1;
    flex-direction: column;
    align-items: flex-end; /*force nom au meme niveau que titre*/
    justify-content: space-between;
    @media screen and (max-width: 680px){
        flex-direction: row-reverse;
        align-items: center; 
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 13px;
        flex: 1 1;
    }

    .profil{
        width: 100%; 
        display: flex;
        align-items: flex-start;
         justify-content: flex-end;  
        text-align: right;
        font-size: 18px;
        color: #FF6060;
        gap : 10px;

        p{
            font-size: 18px;
            @media screen and (max-width: 680px){
                font-size: 12px;
            }
        }

        img{
        object-fit: cover;
        border-radius: 50%;
        width: 64px;
        margin-bottom: 21px;
        @media screen and (max-width: 680px){
           width: 32px;
           margin-bottom: 0;
        }
        }
    }

    .rating{
        display: flex;
        
        img{
            width: 36px;
            @media screen and (max-width: 680px){
                width: 18px;
            }
        }
        
    }
}

