.host{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .profil{
        display: flex;
        align-items: flex-end;
        text-align: right;
        font-size: 18px;
        color: #FF6060;
        gap : 10px;
        
        img{
        object-fit: cover;
        border-radius: 50%;
        width: 64px;
        }
    }

    .rating{
    width: 36px;
    height: 36px;
    background-color: #FF6060;
    }
}

