* {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  
  main {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 163px; /*header fixe*/
    height: auto;
    
    h2{
      color: #FF6060;
      font-weight: medium;
      font-size: 36px;
    }

    @media screen and (max-width: 680px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 93px;
    }
  }


}