* {
    box-sizing: border-box;
}
/* fixe le footer en bas du contenu de page */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root > *:nth-child(2) {
  flex: 1;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

  font-family: "Montserrat", sans-serif;

  main {
    width: 100%;
    padding: 0 100px 0 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
    @media screen and (max-width: 768px) {
      padding: 0 20px 0 20px;
    }

    h1, h2{
      margin: 0;
    }

    h2{
      color: #FF6060;
      font-weight: medium;
      font-size: 36px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

  }

}
