body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  padding-left: 100px;
  padding-right: 100px;

  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}