.lodging{
    section{
        display: flex;
        align-items: space-between;
        justify-content: flex-start;
        width: 100%;
        gap:76px;

        article{
            width: (50%);
        }
        h2{
        margin: 0;
        padding: 0;
        }
    }   
}
