.tag {
    display: flex;
    // min-width: 115px;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 22px 0 22px;

    @media screen and (max-width: 768px) {
        height: 18px;
        font-size: 10px;
    }

    @media screen and (max-width: 280px) {
        justify-content: center;
        width: 80%;
    }

}