.thumb{
    background-color: #ff6060;
    margin: 25px;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    }
}