.thumb-container{
    max-width: 100%;
    margin-top: 45px;
    padding: 25px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows : 1fr auto; 
}