.thumb {
    border-radius: 10px;
    width: 340px;
    height: 340px;
    position: relative;
    background: rgba(0,0,0,1);

    p {
        position: absolute;
        left: 5.88%;
        bottom: 5.88%;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    @media screen and (max-width: 480px) {
        margin: 22px;
    }
}




