.thumb-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 68px;
    margin-bottom: 50px;
    padding: 56px 50px 43px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;

    @media screen and (max-width: 560px) {
        gap: 20px;
        margin-top: 22px;
        margin-bottom: 27px;
        padding: 0px;
    }
}


