.thumb-container{
    max-width: 100%;
    margin-top: 45px;
    padding: 25px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 259px;

    @media screen and (max-width: 480px) {
    margin-top: 22px;
    padding: 22px;
    margin-bottom: 236px;
    }
}
