.thumb-container{
    max-width: 100%;
    margin-top: 68px;
    padding: 56px 50px 43px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px; /* 50 interligne!*/
    margin-bottom: 259px;

    @media screen and (max-width: 480px) {
    margin-top: 22px;
    margin-bottom: 236px;
    }
}


